
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main/style.css">
    <title> Document </title>
</head>

<body>
    </header>

    <header class="header">
        <!--Animation of header-->
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <div class="wrapper">
            <!-- Site name-->
            <div class="header_logo">
                <a href="/">Personal Blog</a>
            </div>
            <nav>
                <!--Header menu-->
                <ul class="main_nav">
                    <li class="current"><a href="/">Journal</a></li>
                    <li class="current"><a href="#">About</a></li>
                    <li class="current"><a href="#">Work</a></li>
                    <li class="current"><a href="/contacts">Contact</a></li>
                </ul>
            </nav>
        </div>

    </header>



<div class="block">
    <!--  flex-container  -->
    <div class="block__row">
  <div class="block__element">
 
    <h1>Lorem, ipsum dolor sit am</h1>
    <div class="image">

            <img src=https://images.pexels.com/photos/3078831/pexels-photo-3078831.jpeg alt="img_3" >                
        </div>

        <p>
            <div class="block__content">&lt;p&gt;
                &lt;div class=&quot;block__content&quot;&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum qui
                    mollitia hic, nam quo, repellendus blanditiis doloremque alias unde, praesentium accusamus
                    ratione aspernatur. Rem eius molestiae illo placeat nisi sequi!&lt;/div&gt;
                &lt;/p&gt;
                &lt;p&gt;
                &lt;div class=&quot;block__content&quot;&gt;Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum qui
                    mollitia hic, nam quo, repellendus blanditiis doloremque alias unde, praesentium accusamus
                    ratione aspernatur. Rem eius molestiae illo placeat nisi sequi!&lt;/div&gt;
                &lt;/p&gt; </div>
                    </p>
                        
    </div>
       
</div>
</div>

<!-- Header End -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>