{% extends 'base.html' %}

{ % block title % } article.title { % endblock % }

{% block content %}

<div class="block">
    <!--  flex-container  -->
    <div class="block__row">
 
        <h1>article.title</h1>
    
        <br>
        <img src=https://timeweb.com/media/%D0%92%D0%BD%D0%B5%D1%88%D0%BD%D0%B8%D0%B9_%D0%B2%D0%B8%D0%B4_%D1%82%D0%B5%D0%BC%D1%8B_%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%B3%D0%B0_Gutentype_%D0%B4%D0%BB%D1%8F_%D1%81%D0%B0%D0%B9%D1%82%D0%B0_%D0%BD%D0%B0_WordPress.png alt="img_3">                
        <br>

        <p>
            <div class="block__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, deserunt. Culpa, dolor nobis cupiditate at et facere ullam neque harum consectetur alias deleniti dolorem suscipit ducimus! Omnis voluptatum reiciendis dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta omnis tenetur nemo debitis iste necessitatibus eaque error. Voluptatem illum eos quibusdam labore? Ipsum alias, non sunt iste fuga sint soluta! </div>
        </p>
                        
    </div>
       
</div>


{% endblock %}