{% extends 'base.html' %} 



{ % block title % }Personal blog { % endblock % }



{% block content %}

<div class="block">
    <!--  flex-container  -->
    <div class="block__row">
 
        {% if articles_list%}
            {%for a in articles_list%}
    
                <!--  flex-element  -->

                <div class="block__element">
                    <div class="block__content">

                        <section>
                            <img src={{a.img_url}} alt="img_3">
                        </section>

                        <aside>
                            <h1>{{a.title}}</h1>
                            <p>
                                <div class="block__content">{{a.text}}</div>
                            </p>

                            <div class="see_more">
                                <a href="{% url 'see_more' a.id %}">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span> See more...
                                </a>
                            </div>
                        </aside>
                        
                    </div>
                </div>
                <br>
       
            {% endfor%}
        {% endif%}

        <div class="see_more">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Pervious...
            </a>
        </div>
        <div class="see_more">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Next...
            </a>
        </div>
    </div>


</div>
{% endblock %}